$color-global-orange: #FF8A73;
$color-global-violet: #C86AEB;
$color-global-blue: #74AAFF;
$color-global-green: #75EBAF;
$color-spotify-green: #1DB954;
$color-spotify-darkgreen: #1AA249;
$color-global-darkgreen: #5CB888;
$color-global-darkblue: #5C87CC;
$color-global-grey: #EEE;
$color-global-danger: #E85D9D;